.title {
  font-weight: 500 !important;
  font-size: 22px !important;
}

.description {
  margin: 15px 0 !important;
}

.paper {
  max-width: 660px;
  border-radius: 8px !important;
  margin-bottom: 30px;
  padding: 20px;
}
